<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">


      <script src="https://use.fontawesome.com/6207dd8341.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
		<title>Run Scraper</title>
		<script src="https://code.jquery.com/jquery.js"></script>

		
	</head>
	<body>
		{{{ body }}}
        <script src="/assets/js/scraper.js"></script>

   
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
        
        
	</body>
</html>
