<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">


      <script src="https://use.fontawesome.com/6207dd8341.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
		<title>Testing display</title>
		<script src="https://code.jquery.com/jquery.js"></script>

		
	</head>
	<body>
		{{{ body }}}
        <script src="/assets/js/scraper.js"></script>
	</body>
</html>
