.card {
    float: left;
    position: fixed; 
    left: 3.5%;
    margin: 10px 30px;
    width: 350px;
    height: 210px;
}

.home-page-jumbo {
    background: url(../img/road-background.jpg);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
    background-size: cover;
}


.savedCard {
    float: left;
    position: fixed; 
    left: 3.5%;
    margin: 10px 30px;
    width: 350px;
    height: 210px;
}

.addComment {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 8pt !important;
    height: 30px !important;
    color: blue !important;
}


.wrapperDiv {
    margin-top: 5px;
    background-color: lightblue;
}



.note-text {
    margin: 5px 5px;
}

.add-comment{
    height: 30px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.race {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.1em; 
}

.date {
    color: gray; 
    font-size: 0.8em;
    margin-bottom: 5px;
}

.raceDesc {
    color: black; 
    font-size: 0.8em;
    margin-bottom: 4px;
}

.card-container.container {
    /* display: flex; */
    /* justify-content: center; */
}

.googleMaps {
    position: absolute; 
    font-size: 10pt !important;
  right: 10px; 
  bottom: 10px;
    margin-left: 15px; 
    height: 30px !important;
}

.redirectLink {
    position: absolute; 
    font-size: 10pt !important;
  left: 0px; 
  bottom: 10px;
    margin-left: 15px;
    height: 30px !important;
}

.saveBtn {
    /* position: absolute;
    left: 15px; 
    bottom: 50px; */
    /* float: right; */
    font-size: 8pt !important;
    height: 30px !important;
    width: 100px !important;
    color: green !important;
}

.readyToRun {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: white;
}

.removeRaceBtn {
    position: absolute;
    right: 0px;
    top: 5px;
    font-size: 8pt !important;
    /* left: 15px; 
    bottom: 50px; */
    font-size: 10pt !important;
    height: 30px !important;
    width: 30px !important;
    color: red !important;
}

body i {
    font-family:'FontAwesome'!important;
    font-style: normal;
    }


    @media (min-width: 200px) { 

        .card {
            float: left;
            position: fixed; 
            left: 2.5%;
            margin: 10px 30px;
            min-width: 300px !important;
            height: 210px !important;
        }

        .savedCard {
            float: left;
            position: fixed; 
            left: 2.5%;
            margin: 10px 30px;
            min-width: 300px !important;
            height: 210px !important;
        }


     }


    @media (min-width: 500px) { 

        .card {
            float: left;
            position: fixed; 
            left: 12%;
            margin: 10px 30px;
            min-width: 350px !important;
            height: 210px !important;
        }

        .savedCard {
            float: left;
            position: fixed; 
            left: 12%;
            margin: 10px 30px;
            min-width: 350px !important;
            height: 210px !important;
        }


     }

    @media (min-width: 768px) { 

        .card {
            float: left;
            position: fixed; 
            left: 20%;
            margin: 10px 30px;
            min-width: 350px !important;
            height: 210px !important;
        }

        .savedCard {
            float: left;
            position: fixed; 
            left: 20%;
            margin: 10px 30px;
            min-width: 350px !important;
            height: 210px !important;
        }


     }
    
    @media (min-width: 992px) { 

        .card {
            float: left;
            position: fixed; 
            left: 3%;
            margin: 10px 30px;
            min-width: 240px !important;
            min-height: 210px !important;
        }

        .savedCard {
            float: left;
            position: fixed; 
            left: 3%;
            margin: 10px 30px;
            min-width: 240px !important;
            min-height: 210px !important;
        }


     }

